.foto {
  color: var(--ion-color-azulclaro);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  ion-icon {
    margin-left: 230px;
    font-size: 24px;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  .dinero {
    color: var(--ion-color-azuloscuro);
    font-size: 45px;
    font-family: "Rubik", sans-serif;
  }
  .banco {
    background-color: var(--ion-color-verdeclaro);
    color: var(--ion-color-azuloscuro);
    margin-top: 18px;
    padding: 15px;
    border-radius: 12px;
    border: 0px;
    width: 240px;
    font-family: "Quicksand", sans-serif;
  }
  .banco option {
    border: 1px solid var(--ion-color-azuloscuro);
    background-color: var(--ion-color-verdeclaro);
    color: var(--ion-color-azuloscuro);
  }
  .numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 230px;
    button {
      font-size: 25px;
      background-color: transparent;
      color: var(--ion-color-azuloscuro);
      border-radius: 15px;
    }
    ion-button {
      color: var(--ion-color-azuloscuro);
      font-size: 25px;
      font-family: "Quicksand", sans-serif;
    }
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }
  }
  .boton {
    margin-top: 10px;
    background-color: var(--ion-color-azuloscuro);
    border-radius: 15px;
    width: 170px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
  }
}
