<ion-content>
  <app-atras [destino]="atras"></app-atras>
  <div class="cards">
    <div class="containercard">
      <label>Cards</label>
      <div class="card">
        <div class="container">
          <ion-grid>
            <ion-row>
              <ion-col>Special card</ion-col>
              <ion-col><img src="../../assets/imgs/minicard.PNG" alt="No hay inmagen"></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div class="logut">
      <div class="boton">
        <ion-icon name="card"></ion-icon>
      </div>
      <label>Add Card</label>
    </div>
  </div>
</ion-content>
