<div class="transacciones">
  <section class="titulo">
    <span>Last transactions</span>
  </section>
   <ion-grid class="transaccion">
    <ion-row *ngFor="let transaction of transaciones">
      <ion-col size="3"
        ><img src="../../assets/imgs/netflix-n-logo-png.png" alt="pepe"
      /></ion-col>
      <ion-col size="6">
        <div>
          <span>Netflix</span><br />
          <span class="descripcion">Subscripcion mensual</span>
        </div>
      </ion-col>
      <ion-col size="3" class="dinero">{{transaction}}€</ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="3"
        ><img src="../../assets/imgs/netflix-n-logo-png.png" alt="pepe"
      /></ion-col>
      <ion-col size="6">
        <div>
          <span>Netflix</span><br />
          <span class="descripcion">Subscripcion mensual</span>
        </div>
      </ion-col>
      <ion-col size="3" class="dinero">+100€</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"
        ><img src="../../assets/imgs/netflix-n-logo-png.png" alt="pepe"
      /></ion-col>
      <ion-col size="6">
        <div>
          <span>Netflix</span><br />
          <span class="descripcion">Subscripcion mensual</span>
        </div>
      </ion-col>
      <ion-col size="3" class="dinero">+100€</ion-col>
    </ion-row> -->
  </ion-grid> 
</div>