@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
* {
  font-family: "Rubik", sans-serif;
}

.Contenedorlogo {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formRegistro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .boton {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    ion-label {
      font-size: 12px;
      color: gray;
      a {
        text-decoration: none;
        color: var(--ion-color-azulclaro);
      }
    }
  }
}

ion-button {
  --background: var(--ion-color-azuloscuro);
  --background-hover: var(--ion-color-azuloscuro);
  --background-activated: var(--ion-color-azuloscuro);
  --background-focused: var(--ion-color-azuloscuro);

  --color: white;

  --border-radius: 15px;

  width: 140px;
  height: 50px;
}

input {
  background-color: lightgray;
  color: gray;
  padding: 12px;
  border: 0px;
  border-radius: 15px;
  margin-bottom: 8px;
  
}
input:focus {
    border:2px solid var(--ion-color-azuloscuro);
    outline: 0 none;
  }
input::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
  }
