.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    flex-direction: column;

    span {
        font-family: "Rubik", sans-serif;
        font-size: 35px;
        color: var(--ion-color-azuloscuro);
    }

    button {
        font-family: "Quicksand", sans-serif;
        margin-top: 40px;
        width: 155px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 150px;
        display: flex;
        align-items: flex-end;
        background-color: transparent;
        color: white;
        .texto{
            padding-bottom: 30px;
            padding-left: 25px;
            font-size: 16px;
            .dineroGastos , .dineroIngresos{
                margin-top: 5px;
                font-size: 20px;
                font-weight: semiBold;
            }
        }
    }
    .gastos{
        background-image: url('../../assets/imgs/botonGastos.png');
    }
    .ingresos{
        background-image: url('../../assets/imgs/ingresos.PNG');
    }
}