* {
  font-family: "Rubik", sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  .wallet {
    color: var(--ion-color-azuloscuro);
    font-size: 30px;
    font-weight: 600;
  }
  .active{
    color: var(--ion-color-verdeoscuro);
  }
  a{
    border: 2px solid var(--ion-color-azuloscuro);
    width: 60px;
    border-radius:100%;
  }
}