* {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 60px;

  .wallet {
    color: var(--ion-color-azuloscuro);
    font-size: 30px;
    font-weight: 600;
  }

  .active {
    color: var(--ion-color-verdeoscuro);
  }

  a {
    border: 2px solid var(--ion-color-azuloscuro);
    width: 60px;
    border-radius: 100%;
  }
}

.contenedorTarjeta {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  .tarjeta {
    margin-top: 30px;
    width: 287px;
    height: 130px;
    background-image: url('../../assets/imgs/tarjeta.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 65px 33px -56px var(--ion-color-verdeoscuro);
  } 
  font-size: 18px;
  .balance{
    color: white;
    font-weight: 600;
    text-shadow:1px 1px 2px var(--ion-color-azuloscuro);
  }
  ion-col{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headers{
  font-size: 20px;
    font-weight: 700;
    text-shadow: 0px;
    color: var(--ion-color-azuloscuro);
  }
}
.transacciones{
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  span{
    color: var(--ion-color-azuloscuro);
  }
}