<ion-content>
  <div class="container">
    <div class="header">
      <div>
        <label class="wallet">Wallet</label><br />
        <label class="active">Active</label>
      </div>
      <a href="settings"></a>
    </div>
  </div>
  <div class="contenedorTarjeta" (click)="presentAlert()">
    <div class="tarjeta">
      <ion-grid>
        <ion-row>
          <ion-col class="headers" size="6">Balance</ion-col>
          <ion-col class="headers" size="6">Card</ion-col>
        </ion-row>
        <ion-row *ngIf="cards.length>0">
          <ion-col class="balance" size="6">{{cards[cardSelec]['balance']}}€</ion-col>
          <ion-col class="balance" size="6">{{cards[cardSelec]['name']}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <app-transactions></app-transactions>
  <app-navigation></app-navigation>
</ion-content>
