* {
  font-family: "Rubik", sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  .wallet {
    color: var(--ion-color-azuloscuro);
    font-size: 30px;
    font-weight: 600;
  }
  .active{
    color: var(--ion-color-verdeoscuro);
  }
  a{
    border: 2px solid var(--ion-color-azuloscuro);
    width: 60px;
    border-radius:100%;
  }
}
.balance{
  width: 250px;
  height: 130px;
  .tarjeta{
    width: 100%;
    height: 115px;
    background-image: url('../../assets/imgs/tarjeta.PNG');
    background-repeat: no-repeat;
    background-size: cover;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}