
<ion-content>
  <div class="container">
    <div class="header">
      <div>
        <label class="wallet">Wallet</label><br>
        <label class="active">Active</label>
      </div>
      <a href="login"><img src="../../assets/imgs/cartera.png" alt="Profile"></a>
    </div>
  </div>
  <div class="contenedorTarjeta">
    <div class="tarjeta">
      <ion-grid>
        <ion-row>
          <ion-col class="headers" size="6">Balance</ion-col>
          <ion-col class="headers" size="6">Tarjeta</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="balance" size="6">1.200€</ion-col>
          <ion-col class="balance" size="6">BBVA</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="transacciones">
    <span>Ultimas transaciones</span>
  </div>
</ion-content>
