<ion-content>
  <app-atras [destino]="atras"></app-atras>
  <div class="contenedorImagen">
    <img src="../../assets/imgs/cartera.png" alt="No hay foto de perfil" />
    <div>
      <label>Guillermo</label>
      <button>
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </button>
    </div>
  </div>
  <div class="contenedorsettings">
    <app-modal setting="Last name"></app-modal>
    <app-modal setting="Password"></app-modal>
    <app-modal setting="Email"></app-modal>
    <app-modal setting="Phone"></app-modal>
  </div>
</ion-content>
