
.contenedorsettings {
  margin-top: 45px;
  color: var(--ion-color-azuloscuro);
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .setting {
    width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .botonModal {
      background: transparent;
      color: var(--ion-color-azuloscuro);
      font-size: 20px;
    }
  }
}
.logut {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .boton {
    border: 1px solid var(--ion-color-azuloscuro);
    border-radius: 100%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-azuloscuro);
    font-size: 25px;
    padding-left: 5px;
  }
  label {
    font-size: 22px;
    font-family: "Rubik", sans-serif;
    color: var(--ion-color-azuloscuro);
    font-weight: 600;
  }
}
