<ion-content>
  <app-atras [destino]="atras"></app-atras>
  <div class="contenedor">
    <label class="markets">Markets</label>
    <div class="mercado">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" class="i-imagen">
            <div class="imagen">
              <img src="../../assets/imgs/paises/españa.jpg"/></div>
            </ion-col>
          <ion-col size="4" class="i-id">
            <div class="id">
              <label class="siglas">IBEX 35</label>
              <label>España</label>
            </div></ion-col>
          <ion-col size="4" class="i-izquierda">
            <div class="izquierda">
              <label>1000€</label>
              <div class="indice">
                <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
                <label>15.3%</label>
              </div>
            </div></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
